.full-page-wrap.smooth-container
  %header
    .container
      %h1.logo
  .album-text.mobile
    .container
      %h3
        %strong The Sun Three Hups - Black LP
  .page-wrap
    .container
      .bg-img
        = image_tag 'black_lp_image.jpg', alt: 'The Sun Three Hups', class: 'tilt-img', data: { tilt: '' }
        .cta-wrap
          %a.cta{href: "https://www.youtube.com/watch?v=XO7JGfqPB0s&feature=youtu.be", target: "_blank"}
            = fa_icon 'youtube-play'
             
            Смотреть клип 'Multicolor Bus'
      %nav
        %ul
          %li
            %a{href: "https://forms.umusic.com/4931/form/7691", target: "_blank"} Join the Mailing List
          %li
            %a{href: "https://shop.thekillersmusic.com/", target: "_blank"} Visit Official Store
  .anchor-wrap.desktop
    .container
      .album-text.desktop
        %h3
          %strong The Sun Three Hups - Black LP
      .products.multi
        .product
          .product-img
            %a{href: "https://shop.thekillersmusic.com/collections/wonderful-wonderful/products/wonderful-wonderful-digital-album-t-shirt", target: "_blank"}
              %img.attachment-full.size-full.wp-post-image{alt: "", height: "600", sizes: "(max-width: 600px) 100vw, 600px", src: "http://thekillersmusic.com/wp-content/uploads/2017/08/BlackTeeDLXDL_grande.png", srcset: "http://thekillersmusic.com/wp-content/uploads/2017/08/BlackTeeDLXDL_grande.png 600w, http://thekillersmusic.com/wp-content/uploads/2017/08/BlackTeeDLXDL_grande-150x150.png 150w, http://thekillersmusic.com/wp-content/uploads/2017/08/BlackTeeDLXDL_grande-300x300.png 300w", width: "600"}/
          %h4 WONDERFUL WONDERFUL – T-SHIRT + DELUXE DIGITAL ALBUM
          %a.btn{href: "https://shop.thekillersmusic.com/collections/wonderful-wonderful/products/wonderful-wonderful-digital-album-t-shirt", target: "_blank"} Buy Now
        .product
          .product-img
            %a{href: "https://shop.thekillersmusic.com/products/wonderful-wonderful-deluxe-vinyl", target: "_blank"}
              %img.attachment-full.size-full.wp-post-image{alt: "", height: "600", sizes: "(max-width: 600px) 100vw, 600px", src: "http://thekillersmusic.com/wp-content/uploads/2017/08/KILL_0031-WW-Product-Mockups_05_grande.png", srcset: "http://thekillersmusic.com/wp-content/uploads/2017/08/KILL_0031-WW-Product-Mockups_05_grande.png 600w, http://thekillersmusic.com/wp-content/uploads/2017/08/KILL_0031-WW-Product-Mockups_05_grande-150x150.png 150w, http://thekillersmusic.com/wp-content/uploads/2017/08/KILL_0031-WW-Product-Mockups_05_grande-300x300.png 300w", width: "600"}/
          %h4 WONDERFUL WONDERFUL – DELUXE VINYL 2LP
          %a.btn{href: "https://shop.thekillersmusic.com/products/wonderful-wonderful-deluxe-vinyl", target: "_blank"} Buy Now
        .product
          .product-img
            %a{href: "https://shop.thekillersmusic.com/products/wonderful-wonderful-cream-t-shirt-digital-album?variant=47136412372", target: "_blank"}
              %img.attachment-full.size-full.wp-post-image{alt: "", height: "600", sizes: "(max-width: 600px) 100vw, 600px", src: "http://thekillersmusic.com/wp-content/uploads/2017/08/CreamTeeDLXDL4_grande.png", srcset: "http://thekillersmusic.com/wp-content/uploads/2017/08/CreamTeeDLXDL4_grande.png 600w, http://thekillersmusic.com/wp-content/uploads/2017/08/CreamTeeDLXDL4_grande-150x150.png 150w, http://thekillersmusic.com/wp-content/uploads/2017/08/CreamTeeDLXDL4_grande-300x300.png 300w", width: "600"}/
          %h4 WONDERFUL WONDERFUL – CREAM T-SHIRT + DELUXE DIGITAL ALBUM
          %a.btn{href: "https://shop.thekillersmusic.com/products/wonderful-wonderful-cream-t-shirt-digital-album?variant=47136412372", target: "_blank"} Buy Now
      %a.anchor-link{href: "#tour"}
        %span.txt View Our Tour Dates!
        %span.icon
          %img.init{alt: "", src: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/arrow-icon@1x.png", srcset: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/arrow-icon@1x.png 1x, http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/arrow-icon@2x.png 2x"}/
          %img.hov{alt: "", src: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/arrow-icon-h@1x.png", srcset: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/arrow-icon-h@1x.png 1x, http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/arrow-icon-h@2x.png 2x"}/
    / /container
  / /anchor-wrap
  #tour.tour-dates
    .container
      .tour-intro
        %h3 Come See Us Live
      .tour-items
        .tour-item
          .date
            %h4 Jan 05 2018
          .location
            %h3
              %span Air Canada Centre
              %strong Toronto, ON
          .link
            %a.btn{href: "http://www.ticketmaster.com/event/100052FBCD313E3D", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 06 2018
          .location
            %h3
              %span Place Bell
              %strong Laval, QC
          .link
            %a.btn{href: "http://www.ticketmaster.com/event/310052FF9D112F27", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 07 2018
          .location
            %h3
              %span TD Garden
              %strong Boston, MA
          .link
            %a.btn{href: "http://www.ticketmaster.com/event/010052FFC9F5559C", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 09 2018
          .location
            %h3
              %span Barclays Center
              %strong Brooklyn, NY
          .link
            %a.btn{href: "http://www.ticketmaster.com/event/000052FBA91F45D4", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 10 2018
          .location
            %h3
              %span The Anthem
              %strong Washington, D.C.
          .link
            %a.btn{href: "https://www.ticketfly.com/purchase/event/1532890", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 12 2018
          .location
            %h3
              %span Madison Square Garden
              %strong New York, NY
          .link
            %a.btn{href: "http://www.ticketmaster.com/event/3B0052FDA9181CEA", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 13 2018
          .location
            %h3
              %span Wells Fargo Center
              %strong Philadelphia, PA
          .link
            %a.btn{href: "http://ev15.evenue.net/cgi-bin/ncommerce3/SEGetEventList?groupCode=SRELLIK&linkID=global-wachovia&shopperContext=&caller=&appCode=", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 15 2018
          .location
            %h3
              %span Masonic Temple Theatre
              %strong Detroit, MI
          .link
            %a.btn{href: "http://www.ticketmaster.com/event/080052FBD2475358", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 16 2018
          .location
            %h3
              %span United Center
              %strong Chicago, IL
          .link
            %a.btn{href: "http://www.ticketmaster.com/event/040052F9AFE73002", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 17 2018
          .location
            %h3
              %span Xcel Energy Center
              %strong Saint Paul, MN
          .link
            %a.btn{href: "http://www.ticketmaster.com/event/060052FB18F4ADB0", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 21 2018
          .location
            %h3
              %span Infinite Energy Center
              %strong Duluth, GA
          .link
            %a.btn{href: "https://www.axs.com/events/339724/the-killers-tickets", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 23 2018
          .location
            %h3
              %span AmericanAirlines Arena
              %strong Miami, FL
          .link
            %a.btn{href: "http://www.ticketmaster.com/event/0D0052FBE586C082", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 24 2018
          .location
            %h3
              %span Hard Rock Live
              %strong Orlando, FL
          .link
            %a.btn{href: "http://www.ticketmaster.com/event/220052FAF7009697", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Jan 30 2018
          .location
            %h3
              %span Valley View Casino Center
              %strong San Diego, CA
          .link
            %a.btn{href: "https://www.axs.com/events/339627/the-killers-tickets", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Feb 01 2018
          .location
            %h3
              %span Staples Center
              %strong Los Angeles, CA
          .link
            %a.btn{href: "http://axs.com/events/340371/the-killers-tickets", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Feb 03 2018
          .location
            %h3
              %span MGM Grand Garden Arena
              %strong Las Vegas, NV
          .link
            %a.btn{href: "https://www.axs.com/events/339795/the-killers-tickets", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Feb 05 2018
          .location
            %h3
              %span 1st Bank Center
              %strong Broomfield, CO
          .link
            %a.btn{href: "https://www.altitudetickets.com/events/detail/the-killers", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Feb 06 2018
          .location
            %h3
              %span Vivint Smart Home Arena
              %strong Salt Lake City, UT
          .link
            %a.btn{href: "http://smithstix.com/music/all-music/event/20610/the-killers-feb-6", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Sep 15 2017
          .location
            %h3
              %span Germany Live Music Hall
              %strong Cologne, DE
          .link
            %a.btn{href: "http://www.ticketmaster.de/artist/the-killers-tickets/26014?cities=60108", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Sep 22 2017
          .location
            %h3
              %span Terminal 5
              %strong New York City
          .link
            %a.btn{href: "https://www.axs.com/events/342632/the-killers-tickets?skin=terminal5", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Oct 08 2017
          .location
            %h3
              %span Austin City Limits
              %strong Austin, TX
          .link
            %a.btn{href: "http://www.ticketmaster.com/artist/92450", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Oct 20-22 2017
          .location
            %h3
              %span Lost Lake Festival
              %strong Phoenix, AZ
          .link
            %a.btn{href: "http://www.ticketmaster.com/artist/92450", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Oct 27-29 2017
          .location
            %h3
              %span Voodoo Festival
              %strong New Orleans, LA
          .link
            %a.btn{href: "http://www.ticketmaster.com/artist/924503", target: "_blank"} Purchase
        .tour-item
          .date
            %h4 Nov 06 2017
          .location
            %h3
              %span Genting Arena
              %strong Birmingham, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 07 2017
          .location
            %h3
              %span Genting Arena
              %strong Birmingham, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 10 2017
          .location
            %h3
              %span Metro Radio Arena
              %strong Newcastle, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 13 2017
          .location
            %h3
              %span Manchester Arena
              %strong Manchester, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-nam", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 14 2017
          .location
            %h3
              %span Manchester Arena
              %strong Manchester, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 16 2017
          .location
            %h3
              %span 3Arena
              %strong Dublin, Ireland
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 17 2017
          .location
            %h3
              %span SSE Arena
              %strong Belfast, Ireland
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 19 2017
          .location
            %h3
              %span First Direct Arena
              %strong Leeds, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 20 2017
          .location
            %h3
              %span SSE Hydro
              %strong Glasgow, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 21 2017
          .location
            %h3
              %span GE Oil &amp; Gas Arena
              %strong Aberdeen, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 23 2017
          .location
            %h3
              %span Motorpoint Arena
              %strong Nottingham, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 25 2017
          .location
            %h3
              %span Sheffield Arena
              %strong Sheffield, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 27 2017
          .location
            %h3
              %span The O2 Arena
              %strong London, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
        .tour-item
          .date
            %h4 Nov 28 2017
          .location
            %h3
              %span The O2 Arena
              %strong London, UK
          .link
            %a.btn{href: "http://www.ticketmaster.co.uk/The-Killers-tickets/artist/924503?tm_link=tm_edp_multiact_act1-name", target: "_blank"} Sold Out
    / /container
  / /tour-dates
  %footer
    .container
      %p
        Copyright © 2017 The Killers |
        %a{href: "https://privacypolicy.umusic.com/terms/", target: "_blank"} Terms
        |
        %a{href: "https://privacypolicy.umusic.com/", target: "_blank"} Privacy
        %a.credit{href: "http://famehouse.net", target: "_blank"}
          %img.init{alt: "Fame House", src: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo@1x.png", srcset: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo@1x.png 1x, http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo@2x.png 2x"}/
          %img.hover{alt: "Fame House", src: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo-h@1x.png", srcset: "http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo-h@1x.png 1x, http://thekillersmusic.com/wp-content/themes/thekillers-micro/img/fh-logo-h@2x.png 2x"}/
    / /container
  / /footer
/ /full-page-wrap
%script{src: "http://thekillersmusic.com/wp-includes/js/wp-embed.min.js?ver=4.8.1", type: "text/javascript"}
